<section class="painting">
  <img src="/images/{{painting.filename}}" alt="{{painting.description}}">
  <div class="painting-details">
    <h3>{{painting.title}}</h3>
<<<<<<< HEAD
    <p>By: {{painting.artist}}</p>
    <!-- The custom method 'format_date' is used to calculate the end date and format it correctly -->
    <p>Exhibition open until: {{ format_date painting.exhibition_date}}</p>
=======
 
>>>>>>> 9f772f502919046ae9ac7537a284121f6909d676
  </div>
</section>